.header {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 20px;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row { display: flex; }

.neighbor {
  background-color: #cdcdcd40;
}

.selected {
  background-color: #cdcdcd;
}

.match {
  background-color: #cdcdcd;
}

.board {
  position: relative;
  border: 3px solid #373737;
  display: inline-block;
}

.cell {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #373737;
}

.swatch {
  width: 27px;
  height: 27px;
  border-radius: 50%;
}

.paletteswatch {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 2px solid #373737;
}

.palette {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border: 4px solid #373737;
  padding: 5px;
  margin: 20px;
}

.clear-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  color: #373737;
}


.gridlines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: linear-gradient(
    to right,
    transparent calc(33.333% - 2px),
    #373737 calc(33.333% - 2px),
    #373737 calc(33.333% + 2px),
    transparent calc(33.333% + 2px),

    transparent calc(66.666% - 2px),
    #373737 calc(66.666% - 2px),
    #373737 calc(66.666% + 2px),
    transparent calc(66.666% + 2px)
  ),
  linear-gradient(
    to bottom,
    transparent calc(33.333% - 2px),
    #373737 calc(33.333% - 2px),
    #373737 calc(33.333% + 2px),
    transparent calc(33.333% + 2px),

    transparent calc(66.666% - 2px),
    #373737 calc(66.666% - 2px),
    #373737 calc(66.666% + 2px),
    transparent calc(66.666% + 2px)
  );
}